<!-- Begin page content -->
<!-- <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Employees </h1>
      <h1 class="mt-5">Payroll </h1>
      <h1 class="mt-5">Management</h1>
    <div>
      
    </div> -->
      <!-- <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
      <p>Use <a href="/docs/5.1/examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p> -->
    <!-- </div>
  </main> -->
  <div class="content-wrapper">
  <div class="bg" style="height:700px;">
    <div class="container">
      wwwww
     
    </div>

  </div>
</div>
  <!-- <div class="content-wrapper">
  
    <div class="container">
      <img src="\assets\dist\img\dash.jpg" alt="Snow">
      <button class="btn">Button</button>
    </div>

    <div class="container">
    <img src="\assets\dist\img\photo2.png" alt="">
    </div>
  </div> -->